body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #282828;
    color: #b8950b;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0F2C59;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

/* Apply styles to specific section IDs */
#about-me {
    background-color: #161616; /* Customize the background color for this section */
    padding: 20px; /* Customize padding as needed */
    color: #705e16; /* Customize text color for this section */
}

#skills {
    background-color: #28332e; /* Customize the background color for this section */
    padding: 20px; /* Customize padding as needed */
    color: #705e16; /* Customize text color for this section */
}

#work-experience {
    background-color: #462019; /* Customize the background color for this section */
    padding: 20px; /* Customize padding as needed */
    color: #705e16; /* Customize text color for this section */
}

#education {
    background-color: #0c2014; /* Customize the background color for this section */
    padding: 20px; /* Customize padding as needed */
    color: #705e16; /* Customize text color for this section */
}

/* Define other styles as needed for your content */